In [1]:
import pandas as pd

atomic = pd.read_csv('atomic_numbers.csv', sep=';')

In [2]:
atomic

     number symbol
0         1      H
1         2     He
2         3     Li
3         4     Be
4         5      B
..      ...    ...
113     114     Fl
114     115     Mc
115     116     Lv
116     117     Ts
117     118     Og

[118 rows x 2 columns]

The least two-symbol element is He