In [2]:
import numpy as np
import pandas as pd


df = pd.read_csv('youtube_cheatsheet_raw.csv', sep=';', names=['sec', 'url'])

In [3]:
df.head(20)

     sec          url
0    NaN          NaN
1    0.0  4iORuByyRmA
2    1.0  y2frxNQgsOQ
3    2.0  y2frxNQgsOQ
4    3.0  wtqzSTi4zQQ
5    4.0  wtqzSTi4zQQ
6    5.0  J2I2vQQwiyE
7    6.0  xwuyBTTuUrQ
8    7.0  tPSBj4Quuwk
9    8.0  HPlBcPvJQew
10   9.0  vqlcBxgYnFo
11  10.0  vqlcBxgYnFo
12  11.0  Zx iiQAH-Tw
13  12.0  uawO3-tjP1c
14  13.0  uawO3-tjP1c
15  14.0  xepkylNIenw
16  15.0  xepkylNIenw
17  16.0  krqmxbffbTE
18  17.0  t-3-guBJswY
19  18.0  t-3-guBJswY

In [4]:
df['url'] = df.url.str.replace(' ', '_')

In [5]:
df_list = np.split(df, df[df.isnull().all(1)].index)

In [6]:
len(df_list)

35

In [8]:
for i in range(len(df_list)):
    df_list[i]['minute'] = 2 + i

In [11]:
df_clean = pd.concat(df_list).dropna()

In [16]:
df_clean['duration'] = df_clean['minute'] * 60 + df_clean['sec'].astype(int)

In [19]:
df_clean[['url', 'duration']].to_csv('youtube_cheatsheet.csv')